@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  align-items: center;

  background: url(./img/bggg.avif);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background: url(./img/header_bg.jpg);
  padding-top: 30px;
  text-align: center;
  height: 100px;
  /* width: 600px; */
}

/* h1 {
  /* color: #f0f0f0; */

#instructions {
  background: url(./img/ins.png);
}

canvas {
  /* height: 900;
  width: 600; */
  border: 2px solid black;
}

#end-menu {
  display: none;
  margin: 50px auto;
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1000;
}

#restart-button {
  border-radius: 0.5rem;
  background-color: skyblue;
  padding: 5px;
}

#instruction {
  background: url("./img/desert.jpg");
}

button:hover {
  background-color: #333;
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
